@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.bg-floating-doodles {
  background-image: url("/images/colorful-doodles.svg");
  background-repeat: repeat;
  background-size: 400px 400px;
  animation: scrollDoodles 60s linear infinite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.15;
  /* z-index: -1; */
}

@keyframes scrollDoodles {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 400px;
  }
}
